@import url('https://fonts.googleapis.com/css?family=Lato:100,400');


html {
	margin: 0;
	border:0; 
	padding: 0; 
	width: 100%; 
	min-height: 100%; 
	overflow: auto; 
}

body {
	margin: 0;
	border: 0; 
	padding: 0;
	width: 100%;
	min-height: 100%;
	background: top center no-repeat #FFF;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 14px;
}

img, div, input, select, textarea {
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
}

a { 
	text-decoration: none;
}

ul {
	list-style: none;
}

b, strong { 
	font-family: 'Lato', sans-serif; 
	font-weight: 400;
}

h1 { 
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 30px; 
	font-family: 'Lato', sans-serif; 
	font-weight: 400; 
	text-transform: uppercase;
}

h2 { 
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 30px; 
	font-family: 'Lato', sans-serif; 
	font-weight: 400; 
	text-transform: uppercase;
}


.centralizar {
	margin: 0 auto;
	width: 980px;
}


.topo { 
	top: 0;
	left: 0;
	width: 100%; 
	height: 100px; 
	position: fixed;
	background: #000;
	z-index: 999;
}

.topo-links-caixa-logo { 
	padding-top: 40px;
	min-width: 10px; 
	float: left;
}

.topo-links-logo {
	padding: 0 20px;
	font-size: 16px; 
	color: #fff;
}

.topo-links-logo:hover {
	text-decoration: underline;
}

.topo-links-caixa { 
	padding-top: 40px;
	min-width: 10px;
	float:right;
}

.topo-links { 
	padding: 0 10px;
	font-size: 16px; 
	color: #fff;
}

.topo-links:hover { 
	text-decoration: underline;
}


.banner	{ 
	margin-top: 100px;
	padding: 150px 0;
	overflow: hidden;
	text-align: center;
}

.banner p {
	margin: 0 auto;
	border-top: 1px solid #000;
	padding-top: 5px;
	width: 57px;
}

.banner-imagem { 
	height: 400px; 
	background: center center no-repeat #000; 
	background-size: cover;
}




.bloco01 {
	height: 470px;
	padding: 50px 0px; 
	background: #000; 
	color: #fff;
}

.bloco01-ul01, .bloco01-ul02, .bloco01-ul06 {
	margin: 0;
	height: 50px;
}

.bloco01-ul03, .bloco01-ul05 {
	margin: 0;
	height: 60px;
}

.bloco01-ul04 {
	margin: 0;
	height: 100px;
}

.bloco01 ul li {
    margin: 0 auto;
    width: 45%;
	float: left;
    display: block;
}

.bloco01-ul-li-left {
	text-align: right;
}

.bloco01 ul p {
	margin: 0 10px;
	border-left: 1px solid #fff;
	height: 100%;
	float: left;
    display: block;
}




.bloco02 { 
	padding: 50px 0px; 
	background: #fff;
	color: #000;
}

.wrap {
  width: 50%;
  margin: 0 auto;
}

.bar {
 	background: #666;
 	width: 0;
 	margin: .25em 0;
 	color: #fff;
 	position: relative;
 	transition:width 2s, background .2s;
   	-webkit-transform: translate3d(0,0,0);
 	clear: both;
}

.bar .label {
	font-size: .75em;
	padding: 1em;
	background: #3d3d3d;
	width: 8em;
	display: inline-block;
	position: relative;
	z-index: 2;
	font-weight: bold;
 	background:lighten(#3d3d3d , 10% );
}

.count {
	position: absolute;
	right: .25em;
	top: .75em;
 	padding: .15em; 
	font-size: .75em;
	font-weight: bold;
	font-family: $fontSans;
}

.bloco03 { 
	padding: 50px 0px; 
	background: #000;
	color: #fff;
}



.bloco04 {
	padding: 50px 0px; 
	background: #fff; 
	color: #000;
	text-align: center;
}

.bloco04-p2 {
	font-size: 18px;
}



.bloco05 { 
	padding: 50px 0px; 
	background: #000; 
	color: #fff;
}

.bloco05-contact {
	margin: 0 auto;
    display: table;
}

.bloco05 a {
	padding: 20px;
	color: #fff;
	text-align: center;
}

.topo-mobile-button { 
	display: none;
}

.mobile-esconder { 
	display:block !important;
}

@media (max-width: 980px) {
	
	.topo-mobile-button {
		margin:30px 10px 0px 0px;
		border-radius: 6px;
		width: 40px;
		height: 40px;
		background: url(../images/001.png) center center no-repeat #000;
		float: right;
		display: block;
	}


	.centralizar {
		margin:0px auto !important;
		padding:0px 10px;
		width: auto;
	}
	
	
	.topo-links-caixa {
		top: 100px;
		left: 0;
		padding: 0;
		width: 100%;
		background:#754EB8; 
		position: fixed;
		display: none; 
	}

	.topo-links-caixa a {
		border-top: 1px solid #CCC; 
		padding: 10px 0px;
		color: #FFF;
		text-align: center;
		display: block;
	}
	
	
	.mobile-esconder { 
		display:none !important;
	}
}


